.form {
    width: 100%;
    display: flex;
    padding: 1.4rem 1rem;
    background-color: var(--color-white);
}

.input {
    flex: 1 0 auto;
    font-size: 1.4rem;
    padding: 0.7rem 1rem;
    border: 2px solid var(--color-bg);
    outline: none;
}

.button {
    cursor: pointer;
    background-color: var(--color-bg);
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0 1.4rem;
}

.button:hover {
    filter: brightness(95%);
}
